html{
    max-width: 100%;
    overflow-x: hidden;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

body {
  font-family: 'Poppins', sans-serif;
  color: #efdab9;
  background-color: #332d2e;
  margin: 0;
}

header {
  display: flex;
  justify-content: space-between;
  background-color: #21191a;
}

.logo {
  padding: 0 0 0 10px!important;
}

header img {
  height: 50px;
  align-items: center;
  padding-left: 30px;
}

.nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  padding-right: 10px;
}

.nav-list-item {
  padding: 10px;
  text-decoration: none;
  color: #efdab9;
}

.nav-list-item:hover {
  padding: 10px;
  text-decoration: none;
  color: #f2798d;
}

.Title-1-1 {
  font-family: Lato;
  font-size: 25px;
  animation: fadeIn 1s ease-in both;
  animation-delay: 1s
}

h1 {
  margin-bottom: 0;
  animation: fadeIn 1s ease-in both;
  animation-delay: 1s
}

.pink {
  color: #f2798d;
}

.Title-1 {
  font-family: Livvic;
  font-size: 60px
}

.hero-logo-circles{
  width:366px;
  height:366px;
  margin:20px;
  position:relative;
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: space-between;
  margin: 0 auto;
  padding: 50px 120px;
}

@media only screen and (max-width: 1170px) {
  .wrapper {
    justify-content: center;
    padding: 50px 0;
  }
}

@media only screen and (max-width: 967px) {
  .Intro {
    text-align: center;
  }
}

@media only screen and (min-width: 968px) {
  .Intro {
    padding-left: 20px;
  }
}

.icons {
  padding-top: 10px;
  display: flex;
  /* grid-gap: 20px; */
  grid-template-columns: auto;
}

.icons a {
  animation: fadeIn 1s ease-in both;
  padding-right: 20px;
  color: #efdab9;
  font-size: 20px;
}

.icons a:nth-child(1) {
	animation-delay: 0.6s;
}
.icons a:nth-child(2) {
	animation-delay: 0.8s;
}
.icons a:nth-child(3) {
	animation-delay: 1s;
}


.fab, .fas {

  color: #efdab9;
}

.icons:hover  {
  color: #f2798d!important;
}

.Intro {
  align-self: center;
}

.hero-logo-circles {
  width:366px;
  height:366px;
  position:relative;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  list-style: none;
}
.hero-logo-circle {
  display: flex;
  position:absolute;
  animation:hero-logo-circle 1s linear infinite;
  will-change:transform
}

.first-btn {
  border-color: #dda032;
  color: #dda032;
}

.hero-logo {
  display: flex;
  justify-content: center;
  width: 130px;
  height: 130px;
  animation: none;
  left: 110px;
}

a {
    text-decoration: none;
}

@keyframes fadeIn {
	from {
		opacity: 0;
		transform: translate3d(0, -20%, 0);
	}
	to {
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}
}

.hero-logo-circle:nth-child(1){animation-duration:30s}
.hero-logo-circle:nth-child(2){animation-duration:40s}
.hero-logo-circle:nth-child(3){animation-duration:50s}
.hero-logo-circle:nth-child(4){animation-duration:60s}
.hero-logo-circle:nth-child(5){animation-duration:70s}
.hero-logo-circle:nth-child(6){animation-duration:80s}
.hero-logo-circle:nth-child(7){animation-duration:90s}
.hero-logo-circle:nth-child(8){animation-duration:100s}
.hero-logo-circle:nth-child(9){animation-duration:10s}
.hero-logo-circle:nth-child(10){animation-duration:120s}
@keyframes hero-logo-circle{100%{transform:rotate(1turn)}}
