html{
    max-width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
}

body {
  font-family: poppins;
  background-color: #574c4f;
  /* margin: 0px; */
  /* Show it is fixed to the top */
  min-height: 75rem;
  padding-top: 4.5rem;
}

.navbar-dark {
  background-color: #332d2e;
}

.Title-1-1 {
  font-family: "Lato", poppins;
  font-size: 25px;
}

.Title-1 {
  padding-top: 100px;
  margin: 0;
  color: white;
  font-family: "Livvic", poppins;
  font-size: 60px
}

.wrapper {
  display: flex;
  justify-content: space-between;
  /* padding-top: 100px;
  padding-right: 100px; */
  padding: 50px 100px 0 100px
}

.hero-logo-circles {
  width:366px;
  height:366px;
  position:relative;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  list-style: none;
}
.hero-logo-circle {
  display: flex;
  position:absolute;
  animation:hero-logo-circle 1s linear infinite;
  will-change:transform
}

.first-btn {
  border-color: #dda032;
  color: #dda032;
}

.hero-logo {
  display: flex;
  justify-content: center;
  width: 130px;
  height: 130px;
  animation: none;
  left: 110px;
}
.hero-logo-circle:nth-child(1){animation-duration:30s}
.hero-logo-circle:nth-child(2){animation-duration:40s}
.hero-logo-circle:nth-child(3){animation-duration:50s}
.hero-logo-circle:nth-child(4){animation-duration:60s}
.hero-logo-circle:nth-child(5){animation-duration:70s}
.hero-logo-circle:nth-child(6){animation-duration:80s}
.hero-logo-circle:nth-child(7){animation-duration:90s}
.hero-logo-circle:nth-child(8){animation-duration:100s}
.hero-logo-circle:nth-child(9){animation-duration:110s}
.hero-logo-circle:nth-child(10){animation-duration:120s}
@keyframes hero-logo-circle{100%{transform:rotate(1turn)}}

.navbar {
  background-color: #211d1e;
}
